Repository tmrowco/bloom-contrib, pull requests merged in 2020-08, with the labels that each got.

#429 Energinet integration
  README.md
  integrations/digital/outlook.js
  integrations/electricity/barry.js
  integrations/electricity/energinet.js
  integrations/electricity/linky.js
  integrations/electricity/orsted.js
  integrations/electricity/renault-zoe.js
  integrations/electricity/sense.js
  integrations/electricity/tesla-cockpit.js
  integrations/img/energinet.png
  integrations/img/energinet@2x.png
  integrations/img/energinet@3x.png
  integrations/purchase/nordic-api-gateway.js
  integrations/transportation/__tests__/rejsekort.test.js
  integrations/transportation/automatic.js
  integrations/transportation/minvolkswagen.js
  integrations/transportation/rejsekort.js
  integrations/transportation/ryanair.js
  integrations/transportation/tfl.js
  integrations/transportation/trainline.js
  integrations/transportation/tripit.js
  integrations/transportation/uber.js
  integrations/transportation/wizzair.js
Labels: 🔌 electricity meter

#435 Fix 23h for energinet and flat polyfill.
  integrations/electricity/energinet.js
Labels: bug, 🔌 electricity meter

#437 Include mandatory field for district heating in modelCanRun
  co2eq/energy/index.js
Labels: bug

#443 Adds index.js to purchase integration folder to fix north compatibility
  integrations/purchase/index.js
Labels: bug
